{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
</head>
<body>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include 'header.html' %}
    <div class="container">
        {% block content %}
            <p>Content is here</p>
        {% endblock %}
    </div>
</body>
</html>