{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Archive
{% endblock %}

{% block content %}
    <h1 class="text-center">Weather archive</h1>
    <form class="form my-5 p-2" method="post">{% csrf_token %}
        <h4>Filter</h4>
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark justify-content-end">Select</button>
    </form>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">City name</th>
          <th scope="col">Country code</th>
          <th scope="col">Temperature °C</th>
          <th scope="col">Feels like °C</th>
          <th scope="col">Max temperature °C</th>
          <th scope="col">Min temperature °C</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
          {% for city_weather in page_obj %}
              <tr>
                  <th scope="row">{{ page_obj.start_index|add:forloop.counter|add:-1 }}</th>
                  <td>{{ city_weather.city_name }}</td>
                  <td>{{ city_weather.country_code }}</td>
                  <td>{{ city_weather.temp }}</td>
                  <td>{{ city_weather.temp_feels_like }}</td>
                  <td>{{ city_weather.temp_max }}</td>
                  <td>{{ city_weather.temp_min }}</td>
                  <td>{{ city_weather.date }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>

    <div>
        <div>
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark" href="{{ url_params }}&page=1">first<i class="bi bi-caret-left-fill"></i></a>
                <a class="btn btn-outline-dark" href="{{ url_params }}&page={{ page_obj.previous_page_number }}">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                </a>
            {% endif %}
            <span class="current" style="font-family: 'Comic Sans MS',monospace">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark" href="{{ url_params }}&page={{ page_obj.next_page_number }}">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
                <a class="btn btn-outline-dark" href="{{ url_params }}&page={{ page_obj.paginator.num_pages }}">last<i class="bi bi-caret-right-fill"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}