{% extends 'base.html' %}
{% load bootstrap5 %}
{% load grouping %}

{% block title %}
    Forecast
{% endblock %}

{% block content %}
    <h1 class="text-center" style="font-family: 'Comic Sans MS', serif ">Would you like to know future?</h1>
    <h3 class="text-center" style="font-family: fantasy ">weather forecast for 5 days with data every 3 hours by city name</h3>
    <form class="form text-center my-5 p-2" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark justify-content-end">Select</button>
    </form>
    {% if weather %}
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for j in weather %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% endfor %}
            </div>
                <div class="carousel-inner">
                  {% for group in weather|grouping_by_n:8 %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %} ">
                            <div class="row">
                                {% for info in group %}
                                    <div class="col">
                                        <div class="card" style="width: 18rem">
                                            <div class="card-body">
                                                <h3>{{ info.date }}</h3>
                                                <h1>{{ info.description|capfirst }}</h1>
                                                <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Image" style="width:60px">
                                                <h1 style="color: green">{{ info.temperature }} °C</h1>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                  {% endfor %}
                </div>
          <button class="carousel-control-prev" style="background-color: gainsboro" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="background-color: gainsboro" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    {% endif %}
{% endblock %}