{% extends 'base.html' %}

{% block title %}
    homepage
{% endblock %}

{% block content %}
    <h1>What about the weather?</h1>
    <form class="form-select my-5 p-2" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark justify-content-end">Select</button>
    </form>
    {{ weather.city_name }}
    {{ weather.country_code }}
    {{ weather.weather_description }}
    {{ weather.temp }}
    {{ weather.temp_feels_like }}
    {{ weather.temp_min }}
    {{ weather.temp_max }}

{% endblock %}