{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}

    {% if weather.city_name %}
        {{ weather.city_name }} weather
    {% else %}
        City weather
    {% endif %}

{% endblock %}

{% block content %}
    <h1 class="text-center">What about the weather?</h1>
    <form class="form text-center my-5 p-2" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark justify-content-end">Select</button>
    </form>

    {% if error %}
        <h3 class="alert-danger">{{ error }}</h3>
    {% endif %}

    {% if weather %}
        <div class="card text-center mx-5">
            <div class="card-header">
                <h3>{{ weather.city_name }} <i class="bi bi-geo-alt"></i>{{ weather.country_code }}</h3>
            </div>
            <div class="card-body">
                <h1 class="card-title">{{ weather.weather_description }}</h1>
                <h2 class="card-text">Feels like: <i class="bi bi-thermometer"></i>{{ weather.temp_feels_like }}</h2>
                <h4 class="card-text" style="font-family: cursive">
                    min<i class="bi bi-thermometer"></i>{{ weather.temp_min }}
                    <span style="font-size: 45px; color: green"><i class="bi bi-thermometer"></i>{{ weather.temp }}</span>

                    max<i class="bi bi-thermometer"></i>{{ weather.temp_max }}
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" style="width:70px">
                </h4>
            </div>
                <div class="card-footer text-muted">
            </div>
        </div>
    {% endif %}
{% endblock %}